@media only screen and (min-width: 768px) {
  .footerDiv {
    flex-direction: row;
  }  
  
  .horizontalLine {
    border-top: 1px dashed #ffffff;
}

  .verticalLine {
    border: 1px solid rgb(83, 82, 138);
  }
    
    
} /* end of media query */