a {
    text-decoration: none;
    color:rgb(83, 82, 138);
}

a:hover {
    text-decoration: none;
    color: #f4cd92;
}

body{
    font-family: 'Lexend Exa', sans-serif;
    background-color: #9190c0;
    background-image: url("../images/wallpaper.png");
    background-repeat: repeat;
    background-size: 400px;
    text-align: center;
    color: rgb(83, 82, 138);
}

header {
    font-family: 'Sue Ellen Francisco', cursive;
    padding: 0;
    margin: auto;
    max-width: 620px;
    position: relative;
}

h1 {
    color: rgb(83, 82, 138);
    font-size: 32px;
    padding: 3px;
    margin: 3px 3px 0px 0px;
    text-align: center;
}

h4 {
    font-family: 'Sue Ellen Francisco', cursive;
    color: rgb(83, 82, 138);
    font-size: 24px;
}

h5 {
    font-family: 'Sue Ellen Francisco', cursive;
    color: rgb(83, 82, 138);
    font-size: 22px;
    padding: 0;
    margin: 0;
}

p {
    font-family: 'Lexend Exa' sans-serif;
    color: rgb(83, 82, 138);
    font-size: 14px;
}

/*navigation*/

button#menuBtn { 
    background: #f1f0f7;
    border:none;
    color: rgb(83, 82, 138);
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    padding: 0.5rem;
    margin: 0;
    border: rgb(83, 82, 138) solid 3px;
    border-radius: 10px;
}

nav {background-color: #f1f0f7;
    display: block;
    padding: .8rem .8rem;
    color: rgb(83, 82, 138);
    text-align: center;
    text-decoration: none;
    font-family: 'Sue Ellen Francisco', cursive;
    position: absolute;
    z-index: 1000;
    border: rgb(83, 82, 138) solid 1px;
}

nav ul{
    margin:0; 
    padding: 0;
    font-size: 1.5rem;
}

nav li {
    list-style-type: none;
}

nav li.active {background-color: rgba(0,0,0,0.5);}
nav a:hover {background-color: rgba(0,0,0,0);}
nav ul.open {display: block;}
nav > ul {display: none;}


/*end navigation*/


/*cards*/

h3 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 2rem;
    padding: 1rem;
    margin: 0;
    color: rgb(83, 82, 138)
}

.cardStack {
    display: inline-block;
    position: center;
    margin: auto;
}

.card {
    padding: 0 130px;
    margin: 5px;
    background-color:#f1f0f7;
    text-align: center;
    border: none;
    border-radius: 30px;
    position: relative;
    border: 1px solid rgb(83, 82, 138);
}

.cardHalf {
    padding: 0;
    margin: 3px;
    background-color:#f1f0f7;
    text-align: right;
    padding: 0 1rem 0;
    border: none;
    border-radius: 30px;
    position: relative;
    flex-direction: row;
    flex-basis: 50%;
    max-width: 205px;
    border: 1px solid rgb(83, 82, 138);
}

.cardStackHalf {
    display: flex;
    position: center;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    
}

.hoverImgLeft {
    display: none;
    height: 72px;
}

.baseImgLeft {
    display: inline-block;
    position: absolute;
    left: 1.5rem;
    bottom: .3rem;
    padding: .5rem;
    height: 72px;
}

.card:hover .hoverImgLeft {
    display: inline-block;
    position: absolute;
    left: 1.5rem;
    bottom: .3rem;
    padding: .5rem;
}

.card:hover .baseImgLeft {
    display: none;
}

.hoverImgLeftHalf {
    display: none;
    height: 72px;
}

.baseImgLeftHalf {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: .3rem;
    padding: .5rem;
    height: 72px;
}

.cardHalf:hover .hoverImgLeftHalf {
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: .3rem;
    padding: .5rem;
}

.cardHalf:hover .baseImgLeftHalf {
    display: none;
}

.hoverImgRight {
    display: none;
    height: 72px;
}

.baseImgRight {
    display: inline-block;
    position: absolute;
    right: 1.5rem;
    bottom: .3rem;
    padding: .5rem;
    height: 72px;
}

.card:hover .hoverImgRight {
    display: inline-block;
    position: absolute;
    right: 1.5rem;
    bottom: .3rem;
    padding: .5rem;
}

.card:hover .baseImgRight {
    display: none;
}
/* end cards*/

/*footer*/
.footerDiv {
    display: flex;
    flex-direction: column;
    background-color: #f1f0f7;
}

.footerLeft {
    flex-basis: 75%; 
    padding: 1.5rem;  
}

.footerRight {
   flex-basis: 25%;
   padding: 1.5rem;
}

.socialMedia {
    list-style: none;
    padding: .5rem;
}

.btnNewsletter {
    background: none;
    border:none;
    color: rgb(83, 82, 138);
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    padding: 0.2rem;
    margin: 0.2rem;
    border: rgb(83, 82, 138) solid 2px;
    border-radius: 10px;
}

.inputNewsletter {
    line-height: 3.5;
    font-family: 'Lexend Exa', sans-serif;
}

.horizontalLine {
    border-top: 1px dashed #f1f0f7;
}

.verticalLine {
    border-top: 1px dashed black;
}

