a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: none;
    color: #f4cd92;
}

body{
    font-family: 'Lexend Exa', sans-serif;
    /*background-color: rgb(187, 179, 192);*/
    background-image: url("../images/background.jpg");
    background-repeat: repeat;
    background-size: 400px;
    text-align: center;
    color: #ffffff;
}

header {
    font-family: 'Sue Ellen Francisco', cursive;
    padding: 0;
    margin: auto;
    max-width: 620px;
    position: relative;
}

h1 {
    color: #fff;
    font-size: 32px;
    padding: 3px;
    margin: 3px 3px 0px 0px;
    text-align: center;
}

h4 {
    font-family: 'Sue Ellen Francisco', cursive;
    color: #fff;
    font-size: 24px;
}

p {
    font-family: 'Lexend Exa' sans-serif;
    color: #fff;
    font-size: 14px;
}

/*navigation*/

button#menuBtn { 
    background: none;
    border:none;
    color: #ffffff;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    padding: 0.5rem;
    margin: 0;
    border: #ffffff solid 3px;
    border-radius: 10px;
}

nav {background-color: #727aa8;
    display: block;
    padding: .8rem 0; 
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-family: 'Sue Ellen Francisco', cursive;
    position: absolute;
}
nav ul{
    margin:0; 
    padding: 0;
    font-size: 1.5rem;
}
nav li {
    list-style-type: none;
}

nav li.active {background-color: rgba(0,0,0,0.5);}
nav a:hover {background-color: rgba(0,0,0,0.2);}
nav ul.open {display: block;}
nav > ul {display: none;}

.sublist {
    font-size: .8rem;
    font-family: 'Lexend Exa', sans-serif;
    padding: 1rem;
}

/*end navigation*/


/*cards*/

.cardImg {
    width: 150px;
    height: 150px;
}

h3 {
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
}

.cardStack {
    display: inline-block;
    position: center;
    margin: auto;
}

.card {
    padding: 0 180px;
    margin: 5px;
    background-color:#727aa8;
    text-align: center;
    border: none;
    border-radius: 30px;
}

.hoverImg {
    display: none;
}

.baseImg {
    display: inline-block;
    height: 35px;
    position: absolute;
    left: 5rem;
    padding: .5rem;
}

.card:hover .hoverImg {
    display: inline-block;
    height: 35px;
    position: absolute;
    left: 5rem;
    padding: .5rem;
}

.card:hover .baseImg {
    display: none;
}


/* end cards*/

/*footer*/
.footerDiv {
    flex-wrap: wrap;
}

.btnNewsletter {
    background: none;
    border:none;
    color: #ffffff;
    font-family: 'Sue Ellen Francisco', cursive;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    padding: 0.2rem;
    margin: 0.2rem;
    border: #ffffff solid 3px;
    border-radius: 10px;
}

.inputNewsletter {
    line-height: 3.5;
    font-family: 'Lexend Exa', sans-serif;
}